<app-header *ngIf="showTemplate"></app-header>
<app-menu *ngIf="showTemplate"></app-menu>
<div [ngClass]="showContentWrapper()" style="min-height: 960px;">
    <section class="content-header">
      <h1>
        Helpdesk
        <small>Versão 1.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
<app-footer *ngIf="showTemplate"></app-footer>