<div [ngClass]="classCss" role="alert" *ngIf="message">
  <strong>{{ message.text }}</strong>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Filtrar</h3>
      </div>
      <div class="box-body">
        <div class="form-group" *ngIf="auth.user.profile == 'TECHNICIAN'">
          <div class="checkbox">
            <label>
              <input 
                type="checkbox" 
                [(ngModel)]="assigned"
                name="assigned"
                id="inputAssigned3">
                <b>Atribuídos a mim</b>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="inputNumber3" class="col-sm-2 control-label">Número</label>
          <div class="col-sm-10">
            <input type="text" 
              [(ngModel)]="ticketFilter.number"
              name="number"
              class="form-control" 
              id="inputNumber3">
          </div>
        </div>
        <div class="form-group">
          <label for="inputTitle3" class="col-sm-2 control-label">Título</label>
          <div class="col-sm-10">
            <input type="text" 
              [(ngModel)]="ticketFilter.title"
              name="title"
              class="form-control" 
              id="inputTitle3">
          </div>
        </div>
        <div class="form-group">
          <label for="inputStatus3" class="col-sm-2 control-label">Status</label>
          <div class="col-sm-10">
            <select
              [(ngModel)]="ticketFilter.status"
              name="status"
              class="form-control" 
              id="inputStatus3">
              <option value="NEW">Novo</option>
              <option value="RESOLVED">Resolvido</option>
              <option value="APPROVED">Aprovado</option>
              <option value="DISAPPROVED">Desaprovado</option>
              <option value="RESOLVED">Resolvido</option>
              <option value="CLOSED">Fechado</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inpurPriority3" class="col-sm-2 control-label">Prioridade</label>
          <div class="col-sm-10">
            <select
              [(ngModel)]="ticketFilter.priority"
              name="priority"
              class="form-control" 
              id="inpurPriority3">
              <option value="HIGH">Alta</option>
              <option value="NORMAL">Normal</option>
              <option value="LOW">Baixa</option>
            </select>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-info pull-left" (click)="cleanFilter()">Limpar filtro</button>
        <button class="btn btn-info pull-right" (click)="filter()">Filtrar</button>
      </div>
      <div class="box-header with-border">
          <h3 class="box-title">Lista de Tickets</h3>
        </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody><tr>
            <th>Número</th>
            <th>Título</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Usuário</th>
            <th style="width: 40px" *ngIf="auth.user.profile == 'CLIENT'">&nbsp;</th>
            <th style="width: 40px" *ngIf="auth.user.profile == 'CLIENT'">&nbsp;</th>
            <th style="width: 40px">&nbsp;</th>
          </tr>
          <tr *ngFor="let ticket of list">
            <td>{{ ticket.number }}</td>
            <td>{{ ticket.title }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.user.email }}</td>
            <td *ngIf="auth.user.profile == 'CLIENT'">
              <button class="btn btn-primary" (click)="edit(ticket.id)">Editar</button>
            </td>
            <td *ngIf="auth.user.profile == 'CLIENT'">
              <button class="btn btn-danger" (click)="delete(ticket.id)">Deletar</button>
            </td>
            <td>
              <button class="btn btn-success" (click)="details(ticket.id)">Detalhes</button>
            </td>
          </tr>
        </tbody></table>
      </div>
      <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="#" (click)="setPrevPage($event)">«</a></li>
          <li *ngFor="let p of pages; let i = index">
            <a href="#" ngClass="{
              pagination-focus: i == page
            }" (click)="setPage(i, $event)">{{ i + 1 }}</a>
          </li>
          <li><a href="#" (click)="setNextPage($event)">»</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>